@page "/login"
@using myorange_pmproject.Data
@inject WeatherForecastService ForecastService
    <div class="container mt-5">  
        <div class="row justify-content-center">  
            <div class="col-md-6">  
                <div class="card">  
                    <div class="card-body">  
                        <h5 class="card-title text-center mb-4">登录</h5>  
                       
                            <div class="mb-3">  
                                 <label class="text text-danger"> @ErrorMessage</label>
                            </div> 
                            <div class="mb-3">  
                                <label for="username" class="form-label">用户名</label>  
                                <input type="text" @bind="UserName" class="form-control"  placeholder="请输入用户名">  
                            </div>  
                            <div class="mb-3">  
                                <label for="password" class="form-label">密码</label>  
                                <input type="password" @bind="Password" class="form-control"  placeholder="请输入密码">  
                            </div>  
                            <button  class="btn btn-primary btn-block" @onclick="LoginUser">登录</button>  

                            @foreach (var s in pizzaSpecial)
                            {
                                <tr>
                                    <td>@s.Id</td>
                                    <td>@s.Name</td>
                                  
                                </tr>
                            }
                        
                    </div>  
                </div>  
            </div>  
        </div>  
    </div> 
    @code{

         private string UserName {get;set;}
         private string Password {get;set;}

         private string ErrorMessage = "" ;

         private void LoginUser(){

             if (string.IsNullOrEmpty(UserName) || string.IsNullOrEmpty(Password)){

                ErrorMessage = "请输入用户名和密码";

            }
            else{



           }


         }


         private List<PizzaSpecial>? pizzaSpecial;

         protected override async Task OnInitializedAsync()
         {
            pizzaSpecial = await ForecastService.GetSpecials();
         }
        
    }