<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">BlazorApp1</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                
                <span class="oi" aria-hidden="true"><RadzenIcon Icon="account_balance" /></span> 首页
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Project/List"  >
                <span class="oi" aria-hidden="true"><RadzenIcon Icon="card_giftcard" /></span>项目
                
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Request/List" >
                <span class="oi" aria-hidden="true"><RadzenIcon Icon="dashboard" /></span> 需求/Bug

            </NavLink>
        </div>
        
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Document/List"  >
                <span class="oi" aria-hidden="true"><RadzenIcon Icon="description" /></span> 文档
                
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Notice"  >
                <span class="oi" aria-hidden="true"><RadzenIcon Icon="invert_colors" /></span> 提醒
                
            </NavLink>
        </div>
        <!-- 
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="oi oi-plus" aria-hidden="true"></span> Counter
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdata">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
            </NavLink>
        </div>
        -->
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
